  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
    float: left;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #1980d4;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(185, 72, 44);;
    color: white;
  }
  
  div.content {
    margin-top: 50px;
    margin-left: 200px;
    padding: 100px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 20%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      width: 20%;
      text-align: center;
      float: none;
    }
  }

  .content-div{
    margin: 0;
    padding: 0;
    width: 80%;
    background-color: #ffffff;
    position: relative;
    height: auto;
    overflow: auto;
    float: right;
  }

  /* welcome message */
  h1{
      text-align: center;
      color: #1980d4;
    }


/* for manage users */
.row-33 {
    float: left;
    position: relative;
    padding-top: 2vw;
    padding-left: 7vw;
    width: 22%;
    justify-content: center;
    align-items: center;
    align-content: center;    
}

/* buttons */
.btn-users {
  width:15vw;
  height: 10vh;
  background: #1980d4;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: large;
}

.btn-users:hover{
  background: rgb(185, 72, 44);;
  cursor: pointer;
}

/*Start of Subscribe*/
.search-user-container{

	margin-bottom:30px;
	display: flex;
	flex-direction: column;
	justify-content: left;
  align-items: left;
  padding-left: 7vw;
	border-bottom: 2px solid rgba(0,0,0,0.03);
}

.search-user-container h3{
	padding-left: 1vw;
  color:#53545f;
}

.search-input{
	width:500px;
	background-color: rgb(179, 236, 247);
	border-radius:25px;
	height: 1.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
  padding:20px;
}

.search-input input{
	width:100%;
	/* height: 5vh; */
	border: none;
	outline: none;
  background-color: transparent;
  font-size: medium;
}

.search-btn{
	width:120px;
	height: 5vh;
  background-color: #1980d4;
  border: none;
	border-radius: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	/* box-shadow: 2px 2px 30px rgba(0,0,0,0.1); */
	font-size: 1rem;
}

.search-btn:hover{
	background-color:rgb(185, 72, 44);
	transition: all  ease 0.5s;
}
/*End of Subscribe*/

/*User Tables */
.user{
  width: 90vw;
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
  
}
.user th {
  background-color: #cbe1ee;
  border: 1px solid rgb(43, 106, 189);
  padding: 5px;
  text-align: center;
}

.user td{
  border: 1px solid rgb(160, 154, 154);
  padding: 5px;    
  text-align: center;
}

/* details */
.update-box{
  font-size: large;
}

.update-box .input-s{
  font-size: medium;
  color: darkblue;
  width: 6vw;
  border-radius: 7px;
  border: 2px solid grey;
  float: center;
  padding: 0.3vw 1vw 0.3vw 1vw;
}

.update-box .input-l{
  font-size: medium;
  color: darkblue;
  width: 20vw;
  border-radius: 7px;
  border: 2px solid grey;
  float: center;
  padding: 0.3vw 1vw 0.3vw 1vw;
}

.update-box .input-m{
  font-size: medium;
  color: darkblue;
  width: 8vw;
  border-radius: 7px;
  border: 2px solid grey;
  float: center;
  padding: 0.3vw 1vw 0.3vw 1vw;
}

/* buttons */
.btn-blue{
  width:8vw;
  height: 4vh;
  background: #5a7ee2;
  border: none;
  border-radius: 10px;
  color:rgb(0, 0, 0);
}

.btn-blue:hover{
  background: #304bc4;
  cursor: pointer;
}

.btn-red{
  width:14vw;
  height: 4vh;
  background: #f36a48;
  border: none;
  border-radius: 10px;
  color:rgb(0, 0, 0);
}

.btn-red:hover{
  background: #ca4c2d;
  cursor: pointer;
}

/* button box */
.button-box{
  float: right;
  padding-right: 12vw;
}