.imgcenter {
    display: block;
    margin-left: 30%;
     width: 50%; 
    position: center;

  }
  
  .login-box{
    width: 800px;
    height: 1000px;
    margin: 30px auto;
    background: #ffffffec;
    color: #000000;
    box-sizing: border-box;
    padding: 30px;
    position: center;
    border: #a17807 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px  5px rgba(0, 0, 0, 0.26);
    
  }

 
.type-feild{
    height: 6vh;
    padding: 0.6vh;
    border-color:rgb(100, 103, 107);
    border-radius:3px;
    outline:none;
    width: 500px;
    margin: 20px;
    box-shadow: 2px 2px  5px rgba(0, 0, 0, 0.26);
    
}
.reg-type-feild{
  height: 4.5vh;
  padding: 0.4vh;
  border-radius:5px;
  outline:none;
  width: 280px;
  margin: 20px;
  box-shadow: 2px 2px  5px rgba(0, 0, 0, 0.26);
  
}

/*Start of button*/
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
	margin-top: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    width: 150px;
}

.hero-button:hover{
	background: #202020;
	color: white;
	border: none;
}
/*End of button*/

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: relative;
    margin-top: 1vh;
    padding-top: 1vh;
    left: calc(50% - 50px);
}
.icons{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    /* border-radius: 5px; */
    /* position: relative; */
    /* margin-top: 1vh;
    padding-top: 1vh;
    left: calc(50% - 50px); */
}



.login-body{
    /* background-color: #f2f2f2; */
    background-image: url(../images/regbg.jpg);
    background-size: cover;
}
.error-msg{
    font-size: 18px;
    color: #F00;
    text-align: center;
    background-color: initial;
}    

/* Logged in Message */
.logged-in-msg{
    font-size: 18px;
    color: #30b441;
    text-align: center;
    margin: 0;
}

.search-btn{
    width:100px;
    height: 30px;
    background: #ffeb3b;
    border: none;
    color:rgb(0, 0, 0);
    border-radius: 10px;
    font-size: large;
    
}

.search-btn:hover{
    background: #ffc107;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    }

/* Font sizes */
p{ 
    font-size: 14px;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 22px;
}
td{
    padding: 10px;
}

/* Style of the input fields */
input {
	padding: 10px;
	width: 100%;
	font-size: 14px;
	font-family: sans-serif;
	border: 1px solid #aaaaaa;
}
  
/* Mark input boxes that gets an error at validation */
input.invalid {
    background-color: #ffdddd;
    background-color: #e9bc5c;
}
  
/* Hide all steps by default */
.tab {
	display: none;
}
  
/* Make those dots which indicate the steps */
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}
  
/* Mark the active step */
.step.active {
	opacity: 1;
}
  
/* Mark the steps that are finished */
.step.finish {
	background-color: #4CAF50;
}

