.imgcenter {
    display: block;
    margin-left: 30%; 
    /* margin-right: auto; */ 
     width: 50%; 
    position: center;
     /* border: rgb(45, 29, 139) 10px solid;  */

  }
  
  .login-box{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    background: #dad5d5b2;
    color: #000000;
    box-sizing: border-box;
    padding: 70px 30px;
    position: center;
    border: #250779 4px solid;
    border-radius: 10px;
    
    
  }
.type-feild{
    height: 4vh;
    padding: 0.6vh;
    border-color: khaki;
    border-radius:20px;
    outline:none;
    width: 200px;
}

.btn{
    width:7vw;
    height: 4vh;
    background: #ffeb3b;
    border: none;
    color:rgb(0, 0, 0);
    border-radius: 20px;
    font-size: large;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: absolute;
    top: 18px;
    left: calc(50% - 50px);
}
.register-body{
    background: url(../../images/reg-bg.jpg);
    background-size: cover;
}
.error-msg{
    font-size: 12px;
    color: #F00;
    text-align: center;
    background-color: #FFF;
}
.login-body{
    background-image: url('../images/reg-bg.jpg');
    background-size: cover;
}
.error-msg{
    font-size: 18px;
    color: #F00;
    text-align: center;
    background-color: initial;
}    

/* Logged in Message */
.logged-in-msg{
    font-size: 12px;
    color: #30b441;
    text-align:  right;
    margin: 0;
}

.search-btn{
    width:100px;
    height: 30px;
    background: #ffeb3b;
    border: none;
    color:rgb(0, 0, 0);
    border-radius: 20px;
}

.search-btn:hover{
    background: #ffc107;
    cursor: pointer;
}

