.content-left{
    float:left;
}

/* Style of sidebar */
.sidebar {
    padding: 2%;
    width: 20%;
    background-color: #f3f3f3;
    position: fixed;
    float: left;
    height: 100%;
    margin-top: 60px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: large;
  }

  /* .sidebar a:focus{
    background-color:black;
    color: honeydew;
  } */
   
  .sidebar a.active {
    color: orange;
    font-weight: bold;
    border-radius: 5px;
  }

  /* .sidebar a.active:hover {
    background-color: black;
    color: honeydew;
    font-weight: bold;
  } */
  
  .sidebar a:hover:not(.active) {
    font-weight: bold;
    color: orange;
  }
  

  div.content {
    float: right;
    width: 80%;
    margin-top: 70px;
    margin-left: 200px;
    padding: 0px 16px;
    height: auto;
  }

  .footer{
    float: right;
    width: 80%;
    margin-left: 200px;
    padding: 0px 0px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 20%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      width: 20%;
      text-align: center;
      float: none;
    }
  }
  /* End of side bar */


  /* style of restaurantimage */

  .resimage {
        width: 15vw;
        height: 15vw;
        display: block;
        border-radius: 10px;
        margin-top: 10px;
        margin: auto;
        
        
    }

    .contentbox{
        padding: 3%;
        box-shadow: 2px 2px 3px 2px gray;
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }


  /* style of table */
  td{
      padding: 0.5%;

  }

/* Table for employee profile */
.tab-emp{
  width: 40%;
  /* margin: 0 auto; */
  float: right;
  border:none; 
  margin-right: 5%;

}

.tab-emp th {
  padding-top: 5px; 
  padding-bottom: 5px;  
  text-align: left;
}

.tab-emp td{
  padding-top: 5px; 
  padding-bottom: 5px;  
  text-align: center;
}
/* End of employee profile table */

/* massage file */
.content-div{
  margin: 5%;
  margin-top: auto;
  padding: 0;
  width: 90%;
  background-color: #ffffff;
  position: relative;
  height: auto;
  overflow: auto;
  top:15px;
}


.promo-btn-bar{
  float: right;
  padding-right: 5vw;
  padding-bottom: 25px;
}

.btn-promo {
  width:15vw;
  height: 5vh;
  background: orange;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: medium;
}

.btn-promo:hover{
  background: black;
  cursor: pointer;
}


/* Check Button */
.tik-button{
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: orange;
  color: black;
  border: none;

}

.tik-button:visited{
  background-color: gray;
}
.tik-button:focus{
  background-color: gray;
}
.tik-button:active{
  background-color: gray;
}

.tab-not-available{
  width: 100%;
  border: none;
  text-align: center;  
}

/*Start of button*/
.emp-button{
  display: inline-block;
  text-decoration: none;
  /* text-transform: uppercase; */
  padding: 6px 15px;
  font-weight: bold;
  font-size: 18px;
  background: orange;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  width: auto;
  border-radius: 15px;
}

.emp-button:hover{
background: black;
color: white;
border: none;
}


/*End of button*/


/* Menu file CSS */

.employee-container{
  margin: auto;
  margin-top: 25px;
  width: 90%;
  height: 80vh;
  position: relative;
  box-shadow: 0 0 5px 0px #8b8b8b;
  border-radius: 2px;
  padding: 2vh;
  overflow: hidden;
  
}

.employee-container span{
  font-weight: bold;
  font-size: 24px;
  padding: 0 10px;
  color:#555;
  cursor: pointer;
  width:auto;
  display:inline-block;
}

.menu-table{
  width: 60vw;
  padding: 0 0px;
  position: absolute;
  top: 15vh;
  transition: transform 0.5s;
  margin-left: 5vw;
  border-collapse: collapse; 


}

.menu-table tr th{
  background-color: rgb(255, 207, 118);
  color: black;
  padding: 0.5%;  
  
}

.menu-table td , .menu-table th {
  border: 1px solid rgb(160, 154, 154);
}

.menu-table tr:nth-child(even){background-color: rgb(255, 236, 200);}

.form-btn{
display:inline-block;
}



  #menu{
  left: 0;
  }


  #preorder-menu{
      left: +100%;
      margin-left: 7vw;
  }
  
  #Indicator{
  width: 100px;
  border: none;
  background: orange;
  height: 3px;
  margin-top: 8px;
  margin-left: -190px;
  /* transform: translateX(0px); */
  transition: transform 0.5s;
  }

.menu-button{
  margin-left: 60vw;
  /* margin-top: 2vh; */
}

/* Start of toggel button */

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End of toggle button */


/* Start of chat file */

*{
	padding:0px;
	margin:0px;
}

.centeralised{
	margin:10px auto;
	width:1000px;
	text-align:center;
}

.chathistory{
	min-height:600px;
	width:600px;
	margin:10px auto;
	padding:10px;
	background:#f1f1f1;
	text-align:left;
}


.txtarea{
	min-height:100px;
	width:600px;
	margin:10px auto;
	padding:10px;
}

.siglemessage{
	font-size:12px;
	padding:5px;
	border-bottom:1px solid #b3b3b3;
}
/* End of text area */

/* Start of booking form reservation  */

.banner{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* padding-bottom: 20px; */
}
.card-container{
  display: grid;
  /* grid-template-columns: 420px 500px; */
}
.card-img{
  margin-top: 1cm;
}
.banner h2{
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.card-content{
  background: #fff;
  height: 330px;
}
.card-content h3{
  text-align: center;
  color: #000;
  padding: 25px 0 10px 0;
  font-size: 26px;
  font-weight: 500;
}
.form-row{
  display: flex;
  /* width: 90%; */
  margin: 0 auto;
}
.reservation_form select, .reservation_form input{
  display: block;
  width: 100%;
  margin: 15px 12px;
  padding: 5px;
  font-size: 15px;
  /* font-family: 'Poppins', sans-serif; */
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 300;
}
.reservation_form input[type = text], form input[type = number], form input[type = date], form input::placeholder, select{
  color: #9a9a9a;
}
.reservation_form input[type = submit]{
  color: #fff;
  background: #f2745f;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}
.reservation_form input[type = submit]:hover{
  opacity: 0.9;
}
@media(max-width: 992px){
  .card-container{
      grid-template-columns: 100%;
      width: 100vw;
  }
  .card-img{
      height: 330px;
  }
}

/* End of reservation form CSS */

