.subbody{
    align-items: center;
    text-align: center;
}
.content-left{
    float:left;
}

/* Style of sidebar */
.sidebar {
    /* margin: 10px; */
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    float: left;
    /* box-shadow: 2px 2px 3px 2px gray; */
    /* border-radius: 5px; */
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  .sidebar a:focus{
    background-color:black;
    color: honeydew;
  }
   
  .sidebar a.active {
    background-color: #f3ba00;
    color: black;
    font-weight: bold

  }
  .sidebar a.active:hover {
    background-color: black;
    color: honeydew;
    font-weight: bold

  }
  
  .sidebar a:hover:not(.active) {
    background-color: orange;
    font-weight: bold;
    color: honeydew;
  }
 
  div.content {
    margin-top: 50px;
    margin-left: 200px;
    padding: 100px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 20%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      width: 20%;
      text-align: center;
      float: none;
    }
  }

  /* .content-div{
    margin: 0;
    padding: 0;
    width: 80%;
    background-color: #ffffff;
    position: relative;
    height: auto;
    overflow: auto;
    float: right;
    top:15px; 
  } */
  /* End of side bar */


  /* style of restaurantimage */

  .resimage {
        width: 15vw;
        height: 15vw;
        display: block;
        border-radius: 10px;
        margin-top: 10px;
        margin: auto;
        
        
    }

    .contentbox{
        padding: 3%;
        box-shadow: 2px 2px 3px 2px gray;
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }

/* For toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3.5px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: orange;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* End of toggle switch */

  /* style of table */
  td{
      padding: 0.5%;

  }

  /* Button style */

  .btn{
    width: 140px;;
    height: 6vh;
    padding:0.6vh;
    background: #0e1581;
    border: none;
    color:#ffffff;
    border-radius: 5px;
    font-size: large;
    margin: 20px;
}
.btn:hover{
    background: #000000;
    cursor: pointer;
}

/* End of Buttons  */


.tab-emp{
  width: 35%;
  /* margin: 0 auto; */
  float: right;
  border:none; 
  margin-right: 5%;

}

.tab-emp th {
  padding-top: 5px; 
  padding-bottom: 5px;  
  text-align: left;
}

.tab-emp td{
  padding-top: 5px; 
  padding-bottom: 5px;  
  text-align: center;
}

/* massage file */
.content-div{
  margin: 5%;
  margin-top: auto;
  padding: 0;
  width: 80%;
  background-color: #ffffff;
  position: relative;
  height: auto;
  overflow: auto;
  top:15px;
}


.promo-btn-bar{
  float: right;
  padding-right: 5vw;
  padding-bottom: 25px;
}

.btn-promo {
  width:15vw;
  height: 5vh;
  background: orange;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: medium;
}

.btn-promo:hover{
  background: black;
  cursor: pointer;
}
.message-table{
  /* padding-left: 5vw; */
  /* padding-right: 5vw; */
  /* padding-top: 20px; */
  width: 100%;
  
}

.message-table th{
  font-size: large;
  float: left;
  padding-bottom: 5px;
  color: #5b5377;
}

.message-table td{
  font-size: medium;
  padding-bottom: 5px;
  color: #494949;
}

.message-table b{
  color: #287dec;
}

.reply-area{
  width: 50vw;
  height: 5vw;
  border-radius: 5px;
  border: 1px solid orange;
  font-size: large;
  color: #287dec;
}

.txt-area{
  float: right;
  padding-top: 0%;
}

.btn-reply {
  width:8vw;
  height: 5vh;
  background: orange;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: medium;
  margin-bottom: 5px;
}

.btn-reply:hover{
  background: black;
  cursor: pointer;
}

.sent-reply{
  padding-left: 10vw;
  padding-bottom: 15px;
}
/*  End of massage file*/

/* Check Button */
.tik-button{
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: orange;
  color: black;
  border: none;

}

.tik-button:visited{
  background-color: gray;
}
.tik-button:focus{
  background-color: gray;
}
.tik-button:active{
  background-color: gray;
}

.tab-not-available{
  width: 100%;
  /* margin-right: 5%; */
  border: none;
  text-align: center;  
}
/*Start of button*/
.hero-button{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 20px;
  font-weight: bold;
  background: orange;
  color: #fff;
  cursor: pointer;
margin-top: 10px;
border: none;
box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
}

.hero-button:hover{
background: #202020;
color: white;
border: none;
}


/*End of button*/

/* Side Navigation Bar */

.sidenavbar{
  float: left;
  width: 20%;
  /* border: 2px black solid; */
}