.reset-password {
    text-align: center;
    margin-top: 50px;
}

.reset-password img {
    width: 8vw;
}

.reset-password h1 ,p{
    color: rgb(62, 63, 65);
}

.input-feild{
    width: 32vw;
    height: 30px;
    border-radius: 25px;
    border: 1px solid rgb(71, 71, 71);
    padding-left: 2vw;
    margin-bottom: 15px;
    font-size: medium;
}


.orange-btn{
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    width: 7vw;
    height: 5vh;
    font-size: medium;
}

.orange-btn:hover{
	background: #202020;
	color: white;
	border: none;
}

.btn-change-normal{
    font-weight: bold;
    width:5vw;
    margin-top: 10px;
    height: 5vh;
    background: #bbbbbb;
    border: none;
    border-radius: 25px;
    color: rgb(70, 70, 70);
    font-size: medium;
  }
  
  .btn-change-normal:hover{
    background: #4e4e4e;
    border: none;
    /* border: 1px solid rgb(53, 53, 53); */
    cursor: pointer;
    color: #ffffff;
  }


  /* change password page */
  .input-feild-password{
    width: 16vw;
    height: 25px;
    border-radius: 25px;
    border: 1px solid rgb(71, 71, 71);
    padding-left: 2vw;
    margin-bottom: 15px;
    font-size: medium;
}
