  /* hall table */
  .hall{
    width: 100%;
    margin: 0 auto;
    table-layout: auto;
    border-collapse: collapse; 
  }
  
  .hall th {
    background-color: #e9dfb2;
    border: 1px solid rgb(43, 106, 189);
    padding-top: 5px; 
    padding-bottom: 5px;  
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  
  .hall td{
    border: 1px solid rgb(160, 154, 154);
    padding-top: 5px; 
    padding-bottom: 5px;  
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .hall-add{
    width: 100%;
  }
  
  .hall-add th {
    padding-top: 5px; 
    padding-bottom: 5px;  
    padding-left: 0;
    padding-right: 10px;
  }
  
  .hall-add td{
    padding-top: 5px; 
    padding-bottom: 5px;  
    padding-left: 0;
    padding-right: 10px;
    text-align: left;
  }


  .hall-img{
    width: 10vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .type-feild-l{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 20vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
  }

  .type-feild-m{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 16vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
  }


  .type-feild-s{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 10vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
  }

  .type-feild-xl{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 63vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
  }

