*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
	font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}

.title-text{
    font-size: 40px;
    text-align: center;
}

/*Start of Header*/
.header{
    min-height: 40vh;
	top: 50px;
	margin-top: auto;
	display: absolute;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
	background-attachment: fixed;
	top: 20px;
    width: 100%;
	height: 40%;
}

.search-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

a{
    color: black;  
    text-decoration:none;
 }

.search-button:hover{
    background: #202020;
    color: #fff;   
    border:none;
}

.numbertext{
	display:none;
}
/*Start of Social Icons*/
.social a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
}

.social{
	position:fixed;
	left: 30px;
	top: 30%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
}

.social a i{
	color:rgba(39,39,39,0.80);
}
 
.social a:hover .fa-facebook-f{
	color: #3b5998;
}

.social a:hover .fa-twitter{
	color: #00acee ;
}

.social a:hover .fa-instagram{
	color:  #3f729b ;
}

.social a:hover .fa-youtube{
    color: 	#FF0000;
}
/*End of Social Icons*/

/*Start of About us*/
#about{
    padding: 40px;
}

.about{
    margin: 30px 0;
    display: flex;
}

.about-icon .fas{
    font-size: 60px;
    color: orange;
    margin-right: 20px;
}

.about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}

.about-info{
    margin-top: 10px;
    line-height: 1.5;
}

.about-icon:hover .fas,
.about-subtitle:hover{
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: #cd6100;
    cursor: pointer;
}

@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}

@media screen and (max-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
/*End of About us*/

/*Start of Cards Section*/
.food{
	width: 85%;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	margin:30px auto;
	padding:40px 20px;
	margin-top: -60px;
	background-size:1000px;
	background-position: center;
	border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
	justify-content: center;
	height: 50%;
}
 
.food-heading h3{
	font-family: myriad pro;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	font-size:2rem;
	color:#323543;
 
}

.food-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
    width:100%;
    height: 330px;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
}

.food-box{
	width:250px;
	height: 300px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	margin: 10px 30px;
}

.food-box img{
	height:180px;
}

.food-box p{
	color:#4d4d4d70;
	font-family: myriad pro;
	font-size: 0.9rem;
	letter-spacing: 0.5;
}

.price{
	color:#2c2c2c;
	font-family: poppins;
	font-size: 1rem;;
}

.food-btn{
	position: relative;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:calibri;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
	background: orange;
    color:#FFFFFF;
    border: none;
    animation: fade 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.food-btn:hover{
	background: #202020;
	color:#FFFFFF;
}
.food-box:hover .food-btn{
    display: flex;
    border: none;
}

.food-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}
/*End of Cards Section*/

body{
	margin:0px;
	padding: 0px;
}

*{
	box-sizing: border-box;
	font-family: myriad pro;
}

a{
	text-decoration:none;
}

ul{
	list-style:none;
}

/*Start of main*/
.main{
	width:100%;
	height: 80vh;
	background-image: url("../images/poduct%20bg.png");
	background-size:800px;
	background-position: center;
	position: relative;
}

.side-box{
	position: fixed;
	right: 90px;
	top: 50px;
	width:170px;
	height: 45px;
	background-color: #FFFFFF;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	box-sizing: border-box;
	z-index: 1;
	border:1px solid rgba(167, 158, 245, 0.1);
}

.m-img{
    position:absolute;
    left:15%;
    top: 65%;
	transform: translate(-15%,-50%);
	min-width: 800px;
}

.m-img img{
    height:450px;
}

.m-text{
	position: absolute;
	top: 50%;
	left:90%;
	transform: translate(-90%,-50%);
}

.m-text h1,h2{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 60px;
	font-size: 4rem;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.08);
	letter-spacing: 3px;
    color:#3D3D4A;
    text-transform: none;
}

.m-text h1{
    letter-spacing:28px;
}

.m-text h1 font,
.m-text h2 font{
    color: orange;
}

.m-btn{
	width:150px;
	height: 40px;
	background-color: #2f2e41;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
	margin-top: 20px;
	color:#fff;
	font-family: calibri;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 1rem;
}

.m-btn:hover{
	color:#FFFFFF;
	background-color: orange;
	transition: all ease 0.5s;
}

.social a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
}

.social a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 15px;
}

.social{
	position:fixed;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	padding: 5px 0px;
	z-index: 1;
}

.social a i{
	color:rgba(39,39,39,0.80);
}
 
.social a:hover .fa-facebook-f{
	color: #3b5998;
}

.social a:hover .fa-twitter{
	color: #00acee ;
}

.social a:hover .fa-instagram{
	color:  #3f729b ;
}

.social a:hover .fa-youtube{
	color: 	#FF0000;
}
/*End of main*/
 
/*Start of reservation*/
.reservation{
	display: flex;
	width: 85%;
	margin:30px auto;
	justify-content: space-around;
	align-items: center;
	padding:30px;
}

.reservation-text{
	width:40%;
	font-family:myriad pro;
}
.reservation-img{
	height: 500px;
	width: 50%;
	box-sizing: border-box;
}

.reservation-img img{
	width:100%;
	height: 100%;
	object-fit:contain;
}

.reservation-text h3{
	color:#333333;
	font-weight: 700;
	font-size:3rem;
	margin:0px;
}

.reservation-text h4{
	color: #333333;
	font-weight: 400;
	font-size:2rem;
	margin:0px;
}

.reservation-text font{
	color: orange;
}

.reservation-text p{
	font-size: 1rem;
	color:#bdbdbd;
	letter-spacing: 0.5px;
}
/*End of main*/

/*Start of Subscribe*/
.subcribe-container{
	width:100%;	
	height:250px;
	margin-bottom:30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid rgba(0,0,0,0.03);
}

.subcribe-container h3{
	font-size: 2rem;
	color: rgb(56, 56, 56);
}

.subcribe-input{
	width:500px;
	background-color: #fff;
	border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:20px;
	box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
}

.subcribe-input input{
	width:100%;
	height: 40px;
	border: none;
	outline: none;
	background-color: transparent;
}

.subcribe-btn{
	width:120px;
	height: 40px;
	background-color: orange;
	border-radius: 20px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	font-size: 1rem;
}

.subcribe-btn:hover{
	background-color:#202020;
	color: #fff;
	transition: all  ease 0.5s;
}
/*End of Subscribe*/

/*Start of Responsive section*/
@media(max-width:1230px){
	.m-img img{
		height: 350px;
	}
	
	.m-text h1,h2{
		font-size:3.5rem;
	}
}

@media(max-width:1045px){
	.main{
		background-size: 600px;
	}
	
	.m-img{
		display:none;
	}
	
	.m-text{
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
	}
	.reservation{
		flex-direction:column-reverse;
	}
	
	.reservation-text,.reservation-img{
		width:100%;
	}
	
	.reservation-img{
		height:300px;
		margin:20px;
	}
}

@media(max-width:600px){
	.social{
		display: none;
	}
	
	.side-box{
		right:30px;
		top:30px;
	}
	
	.m-text{
		overflow-wrap: break-word;
		display: flex;
		flex-direction: column;
		margin:auto;
	}
	
	.m-text h1,h2{
		font-size: 5.5rem;
		line-height:40px;
		margin:0px 20px;
		letter-spacing: 10px;
	}
	
	.m-text h2{
		font-size: 1.2rem;
	}
	
	.m-btn{
		margin:0px 20px;
	}
	
	.product{
		width:88%;
	}
	
	.p-box{
		margin:20px 10px;
		padding:10px 20px;
		width:100%;
		text-align: center;
	}
	
	.subcribe-input{
		width:95%;
	}
	
	.subcribe-container h3{
		font-size:1.4rem;
		text-align: center;
	}
	.reservation{
		top: 60px;
	}
}
/*End of Responsive section*/

/*Start of About us*/
#about{
    padding: 0 0 0 85px;
}

.about{
    margin: 10px 0;
	display: flex;
	align-items: center;
}

.about-icon .fas{
    font-size: 30px;
    color: orange;
    margin-right: 5px;
	align-items: center;
}

.about-subtitle a{
    color:orange;
}

.about-subtitle{
    text-transform: capitalize;
    color: orange;
    font-size: 10px;
}

.about-icon:hover .fas,
.about-subtitle:hover{
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: orange;
    cursor: pointer;
}

@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
	
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}

@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(10% - 16px);
    }
}
/*End of About us*/

/*Start of button*/
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
	margin-top: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
}

.hero-button:hover{
	background: #202020;
	color: white;
	border: none;
}


/*End of button*/
