.topnav {
  overflow: hidden;
  background-color: #000;
  border-radius: 5px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

.logo{
  height:50px;
  width: 50px;
  align-items:center;
  justify-content: center;
  float: left;
  margin-left: 2vw;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0px;
  
}

.topnav a:hover {
  background-color: orange;
  color: black;
  border-radius: 10px;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .logo {
    margin-left: 5vw;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: center;
    display: block;
    text-align: center;
  }

  .logo {
    margin-left: 5vw;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0px;
  }
}