 .content-left{
  float:left;
}

/* Style of sidebar */
.sidebar {
  padding: 2%;
  width: 20%;
  background-color: #e9e9e9b0;
  position: fixed;
  float: left;
  height: 100%;
  margin-top: 60px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: large;
}

/* .sidebar a:focus{
  background-color:black;
  color: honeydew;
} */
 
.sidebar a.active {
  color: orange;
  font-weight: bold;
  border-radius: 5px;
}

/* .sidebar a.active:hover {
  background-color: black;
  color: honeydew;
  font-weight: bold;
} */

.sidebar a:hover:not(.active) {
  font-weight: bold;
  color: orange;
}

.content{
  float: right;
  width: 80%;
}

div.content {
  margin-top: 50px;
  margin-left: 200px;
  padding: 100px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 20%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    width: 20%;
    text-align: center;
    float: none;
  }
}
/* End of side bar */

  
  /* promo table */
  .promo{
    width: 90%;
    margin: 0 auto;
    table-layout: auto;
    border-collapse: collapse; 
  }
  
  .promo th {
    background-color: #e9dfb2;
    border: 1px solid rgb(43, 106, 189);
    padding-top: 5px; 
    padding-bottom: 5px;  
    text-align: center;
  }
  
  .promo td{
    border: 1px solid rgb(160, 154, 154);
    padding-top: 5px; 
    padding-bottom: 5px;  
    text-align: center;
  }

  .btn-promo {
    width:15vw;
    height: 5vh;
    background: #ffd104;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: medium;
  }
  
  .btn-promo:hover{
    background: black;
    cursor: pointer;
  }

  .type-feild{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 20vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
  }

  .input-file{
    font-size: medium;
    color: rgb(129, 129, 182);
    width: 20vw;
    border-radius: 7px;
    border: 2px solid grey;
    float: center;
    padding: 0.3vw 1vw 0.3vw 1vw;
  }

  /* .btn-promo-remove {
    width:5vw;
    height: 5vh;
    background: #d35842;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: medium;
  }
  
  .btn-promo-remove:hover{
    background: rgb(160, 0, 0);
    cursor: pointer;
  } */

    /* promo remove button */
    .btn-item-remove {
      width:8vw;
      height: 10px;
      background: #d35842;
      border: none;
      color: #fff;
      font-size: medium;
      padding: 5px;
      border-radius: 5px;
    }
    
    .btn-item-remove:hover{
      background: rgb(160, 0, 0);
      cursor: pointer;
    }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
    background-color:#fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    border-radius:5px;
    width: 40%;
    height:100px;
    }

    .modal-content button{
        float:right;
        border-radius:5px;
        background-color:orange;
        width:auto;
        height:auto;
        color:white;
        font-weight:bold;
        padding:8px;
        border:none;
        margin-top:15px;
    }

    /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position:relative;
    margin-top:-20px;
    }

    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
