body{
	margin:0px;
    padding: 0px;
    background: #141414;
}

*{
	box-sizing: border-box;
	font-family: myriad pro;
}

a{
	text-decoration:none;
}

ul{
	list-style:none;
}

.main{
	width:100%;
	height: 100vh;
	background-size:800px;
	background-position: center;
	position: relative;
}

.dp{
	position: absolute;
	left: 90px;
	top: 50px;
}

.dp a{
	font-family:poppins;
	font-weight: bold;
	color: #2f2e41;
	font-size:2rem;
	text-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	letter-spacing: 1px;
}

.dp font{
    color:#7A72FF;
}

.reserve-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
    
    margin-top: 10px;
}

.reserve-button:hover{
    background: #fff;
    color: orange;
    
}

.pulsate{
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: .3;
    color: #000000;
}

.m-img{
    position:absolute;
    left:15%;
    top: 50%;
    transform: translate(-15%,-50%);
}

.m-img img{
    height:450px;
}

.m-text{
	position: absolute;
	top: 50%;
	left:90%;
	transform: translate(-90%,-50%);
}

.m-text h2{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 30px;
	letter-spacing: 3px;
    color:#fff;
    text-transform: uppercase;
}

.m-text h4{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 40px;
	letter-spacing: 3px;
    color:#fff;
}

.iframe{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}
.content{
	width: 85%;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
	display: flex;
	margin:30px auto;
	flex-direction: column;
	align-items: center;
	padding:40px 20px;
	margin-top: -60px;
	position: relative;
	background-image: url("../images/poduct bg.png");
	background-size:1000px;
	background-position: center;
	border-radius: 10px;
 
}
 
.content-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.select{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	background-image: url("../images/poduct bg.png");
	background-size:400px;
	background-position: center;
	border-radius: 10px;
}

.select-menu{
	display: flex;
	box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
	background-color: #fff;
	border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
	justify-content: center;
	align-items: center;
	padding:5px 40px;
}

.select-menu li a{
	padding:5px 20px;
	margin: 10px;
	display: flex;
	color:#202020;
}

.select-menu li a:hover{
	color:#6b60ec;
}

@media(max-width:1230px){
	.m-img img{
		height: 350px;
	}
	.m-text h1,h2{
		font-size:3.5rem;
	}
}

@media(max-width:1045px){
	.main{
		background-size: 600px;
	}
	.m-img{
		display:none;
	}
	.m-text{
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);	
	}
}

@media(max-width:600px){	
	.m-text{
		overflow-wrap: break-word;
		display: flex;
		flex-direction: column;
		margin:auto;
	}

	.m-text h1,h2{
		font-size: 2.5rem;
		line-height:40px;
		margin:0px 20px;
		letter-spacing: 10px;
	}

	.m-text h2{
		font-size: 1.2rem;
	}
	
	.content{
		width:88%;
	}

	.select-menu{
		width:100%;
		margin:20px;
		flex-wrap: wrap;
		background-color:none;
		box-shadow: none;
	}

	.select-menu li a{
		background-color:#fff;
		border-radius: 20px;
		box-shadow:2px 2px 30px rgba(0, 0, 0, 0.1) ;
		padding:10px 30px !important;
	} 
}
