.header {
    height: 20vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.search-feild{
    height: 4vh;
    padding: 0.6vh;
    border:none;
    border-radius:20px;
    outline:none;
}

.restaurant{
    width: 25vw;
}

.location{
    width: 7vw;
}

.search-type{
    width:8vw;
}

.search-btn{
    width:7vw;
    height: 4vh;
    background: #ffeb3b;
    border: none;
    color:rgb(0, 0, 0);
    border-radius: 20px;
}

.search-btn:hover{
    background: #ffc107;
    cursor: pointer;
}

.form-box{
    background: rgba(0,0,0, 0.5);
    padding:15px;
}
