.search-feild{
    height: 30px;
    padding: 8px;
    border:none;
    border-radius:20px;
    outline:none;
    width:100%:/*delete*/
}

.location{
    width: 25%;/*100px*/
}

.search-type{
    width:60%;/*110px*/
}


.form-box{
    background: rgba(0,0,0,0.5);
    padding:10px;
	border-radius: 8%;
}
