/* Alignments*/
.div-c{
    text-align: center;    
}

.div-l{
    text-align: left;
}

.div-r{
    text-align: right;
}

/* Grid */
.row-25, .row-50, .row-75, .row-100 {
    float: left;
    position: relative;
    padding: 15px;
}

.row-25 {
    width: 25%;
}

.row-50 {
    width: 50%;
}

.row-75 {
    width: 75%;
}

.row-100 {
    width: 100%;
}

/* Navigation */
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.navigation .left-nav{
    float: left;
}

.navigation .right-nav{
    float: right;
}

.navigation li {
    float: left;
    margin-bottom: 30px;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {/* Current colour does not change when hover */
    background-color: #111;
}

.navigation .active {
    background-color: #060653;
}


/* Colors*/
.bg-grey{
    background-color: #333;
}

.font-grey{
    color: #333;
}

.bg-green{
    background-color: #060653;
}

.font-green{
    color: #060653;
}

.bg-white{
    background-color: #FFF;
}

.font-white{
    color: #FFF;
}

.font-red{
   color: #F00; 
}

/*User Tables */
.user{
    width: 1100px;
    margin: 0 auto;
    table-layout: auto;
    border-collapse: collapse;
    
}
.user th {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.user td{
    border: 1px solid #ddd;
    padding: 8px;    
    text-align: center;
}

/* button */

.btn{
    width:10vw;
    height: 4vh;
    background: #ffeb3b;
    border: none;
    color:rgb(0, 0, 0);
    border-radius: 20px;
}

.btn:hover{
    background: #ffc107;
    cursor: pointer;
}

/* form box around button */

.form-box{
    background: rgba(0,0,0, 0.5);
    padding:15px;
}

/* header class */
.header {
    height: 20vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
