/* Alignments*/
.div-c{
    text-align: center;    
}

.div-l{
    text-align: left;
}

.div-r{
    text-align: right;
}

/* Grid */
.row-25, .row-50, .row-75, .row-100 {
    float: left;
    position: relative;
    padding: 15px;
}

.row-25 {
    width: 25%;
}

.row-50 {
    width: 50%;
}

.row-75 {
    width: 75%;
}

.row-100 {
    width: 100%;
}

/* Navigation */
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.navigation .left-nav{
    float: left;
}

.navigation .right-nav{
    float: right;
}

.navigation li {
    float: left;
    margin-bottom: 30px;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {/* Current colour does not change when hover */
    background-color: #111;
}

.navigation .active {
    background-color: #060653;
}


/* Colors*/
.bg-grey{
    background-color: #333;
}

.font-grey{
    color: #333;
}

.bg-green{
    background-color: #060653;
}

.font-green{
    color: #060653;
}

.bg-white{
    background-color: #FFF;
}

.font-white{
    color: #FFF;
}

.font-red{
   color: #F00; 
}

/*User Tables */
.user{
    width: 1100px;
    margin: 0 auto;
    table-layout: auto;
    border-collapse: collapse;
    
}
.user th {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.user td{
    border: 1px solid #ddd;
    padding: 8px;    
    text-align: center;
}

/* button */

.btn{
    width:10vw;
    height: 4vh;
    background: #ffeb3b;
    border: none;
    color:rgb(0, 0, 0);
    border-radius: 20px;
}

.btn:hover{
    background: #ffc107;
    cursor: pointer;
}

/* form box around button */

.form-box{
    background: rgba(0, 0, 0, 0.5);
    padding:2vh;
}

/*button header class */
.btn-header {
    height: 10vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* form-box to show editable results*/
.form-edit{
    width: 30vw;
    height: 90vh;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-sizing: border-box;
    padding: 3vh 5vw 5vh 5vw;
    justify-content: center;
    align-items: center;

}

.form-edit input{
    width: 20vw;
}

/* for deactivate and activate confirmation */
.btn-red{
    width:15vw;
    height: 4vh;
    background: #f36a48;
    border: none;
    color:rgb(0, 0, 0);
}

.btn-grey{
    width:15vw;
    height: 4vh;
    background: #c8cec6;
    border: none;
    color:rgb(0, 0, 0);
}

.btn-grey:hover{
    background: #a5a4a0;
    cursor: pointer;
}

.btn-red:hover{
    background: #ca4c2d;
    cursor: pointer;
}

.btn-blue{
    width:20vw;
    height: 4vh;
    background: #5a7ee2;
    border: none;
    color:rgb(0, 0, 0);
}

.btn-blue:hover{
    background: #304bc4;
    cursor: pointer;
}


/* The Style of About page */

.about-body{
    align-items: center;
    text-align:center;
}

.about-p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: oblique;
}
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center; 
	-ms-align-items: center;
	align-items: center; 
}
.login100-social-item {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
  }

  .bg1{
      background-color: rgb(29, 26, 182);
  }

  .bg2{
      background-color: rgb(44, 96, 240);
  }

  .content-box{
    width: 300px;
    height: 100%;
    margin: 30px 10px;
    background: #ffffffbb;
    color: #000000;
    box-sizing: border-box;
    padding: 30px;
    position: center;
    /* border: #a17807 1px solid; */
    border-radius: 10px;
    box-shadow: 2px 2px  5px rgba(0, 0, 0, 0.26);
    
  }