*{
	box-sizing: border-box;
	font-family: myriad pro;
}

body{
	margin:0px;
    padding: 0px;
    
}

*{
	box-sizing: border-box;

}

a{
	text-decoration:none;
}

ul{
	list-style:none;
}

.main{
	width:100%;
	height: 50vh;
	background-size:800px;
	background-position: center;
	position: relative;
	background-image: url("img1.jpg");
	top: 100px;
}

.reserve-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 200px;
    font-weight: bold;
    background:orange ;
    color: #fff;
    cursor: pointer;    
	margin-top: 10px;
	width:120px;
	border-width: 0px;
}

.m-img{
    position:absolute;
    left: 12%; /*70*/
    top:  30%; 
    transform: translate(-15%,-50%);
}

.m-img img{
	height:250px;
	width:250px;
	border-radius: 50%;
}

.m-text{
	position: absolute;
	top: 30%;
	left:70%; /*80*/
	transform: translate(-90%,-50%);
	color: black;
	width: 500px;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 18px;
}

.m-text2{
	position: absolute;
	top: 25%;
	left:75%; /*80*/
	transform: translate(-90%,-50%);
	color: black;
	margin-left: 20px;
}

/* .m-text2 h4{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 40px;
	letter-spacing: 3px;
    color:#202020;
}


.m-text h2{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 30px;
	letter-spacing: 3px;
    color:#202020;
    text-transform: uppercase;
}

.m-text h4{
	font-family:Roboto;
	font-weight: bold;
	margin: 0px;
    line-height: 40px;
	letter-spacing: 3px;
    color:#202020;
} */

.content{
	width: 85%;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 20px 0px rgb(207, 207, 207);
	display: flex;
	margin: 5px auto;
	flex-direction: column;
	align-items: center;
	padding:5px 20px;
	position: relative;
	background-image: url("../images/poduct bg.png");
	background-size:800px;
	background-position: center;
	border-radius: 10px;
 
}
 
.content-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0px 0px;
	width:100%;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.select{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	background-image: url("../images/poduct bg.png");
	background-size:400px;
	background-position: center;
	border-radius: 10px;
}

.select-menu{
	display: flex;
	box-shadow: 2px 5px 30px rgba(0,0,0,0.1);
	background-color: #fff;
	border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
	justify-content: center;
	align-items: center;
	padding:5px 40px;
}

.select-menu li a{
	padding:5px 20px;
	margin: 10px;
	display: flex;
	color:#202020;
	font-weight: bold;
}

.select-menu li a:hover{
	color: orange;
}

@media(max-width:1230px){
	.m-img img{
		height: 350px;
	}
	.m-text h1,h2{
		font-size:3.5rem;
	}
}

@media(max-width:1045px){
	.main{
		background-size: 600px;
	}
	/*.m-img{
		display:none;
	}*/
	.m-text{
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);	
	}

	.add-img{
		display: none;
	}
	.m-img{
		align-items: center;
		display: relative;
	}
}

@media(max-width:600px){	
	.m-text{
		overflow-wrap: break-word;
		display: flex;
		flex-direction: column;
		margin:auto;
	}

	.m-text h1,h2{
		font-size: 2.5rem;
		line-height:40px;
		margin:0px 20px;
		letter-spacing: 10px;
	}

	.m-text h2{
		font-size: 1.2rem;
	}
	
	.content{
		width:88%;
	}

	.select-menu{
		width:100%;
		margin:20px;
		flex-wrap: wrap;
		background-color:none;
		box-shadow: none;
	}

	.select-menu li a{
		background-color:#fff;
		border-radius: 20px;
		box-shadow:2px 2px 30px rgba(0, 0, 0, 0.1) ;
		padding:10px 30px !important;
	} 
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
	display: none;
	position: fixed;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Add styles to the form container */
  .form-container {
	max-width: 350px;
	padding: 20px;
	background-color: white;
	margin: auto;
	margin-top: 15%;
	border-radius: 5px;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: rgb(19, 19, 19);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }

  .food-btn{
	position: relative;
	width:110px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	background: orange;
    color:#FFFFFF;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
	font-weight: bold;
	left:20%;
}

.food-btn:hover{
	background: #202020;
	color:#FFFFFF;
	
}
  .left{
    float: left;
}

.right{
    float: none;
}



/*Review section */
.description {
	font-family: myriad pro;
	text-align: center;
	width:80%;
	color: #333333;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	margin: auto auto 4rem auto;
	}
/*Review section */

/*Gallery section */
.gallery-container {
	width: 80%;
	margin: 2rem auto; 
  }
  
  .gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 5vw);
	grid-row-gap: 15px; 
  }
  
  .gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block; 
	width: 100%;
  }
  
  .gallery__item--1 {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 6;
  }
  
  .gallery__item--2 {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 1;
	grid-row-end: 6;
  }
  

/*Gallery section */

/*Start of reservation*/
.reservation{
	display: flex;
	width: 85%;
	margin: auto;
	justify-content: space-around;
	align-items: center;
	padding:30px;
	top: auto;
}

.reservation-text{
	width:40%;
	font-family: myriad pro;
}
.reservation-img{
	height: 400px;
	width: 50%;
	box-sizing: border-box;
}

.reservation-img img{
	width:100%;
	height: 100%;
	object-fit:contain;
}

.reservation-text h3{
	color:#333333;
	font-weight: 700;
	font-size:3rem;
	margin:0px;
}

.reservation-text h4{
	color: #333333;
	font-weight: 400;
	font-size:2rem;
	margin:0px;
}

.reservation-text font{
	color: orange;
}

.reservation-text p{
	font-size: 1rem;
	color:#bdbdbd;
	letter-spacing: 0.5px;
}

.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    font-weight: bold;
    background: orange;
    color: #fff;
    cursor: pointer;
	margin-top: 10px;
	border: none;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
}

.hero-button:hover{
	background: #202020;
	color: white;
	border: none;
}
@media(max-width:1045px){
	.reservation{
		flex-direction:column-reverse;
	}
	
	.reservation-text,.reservation-img{
		width:100%;
	}
	
	.reservation-img{
		height:300px;
		margin:20px;
	}
}

@media(max-width:600px){
	.reservation{
		top: 60px;
	}
}
/*End of main*/


/*Start of Reservation Form*/
/* Dropdown Button */
.dropbtn {
	background-color: orange;
	color: white;
	padding: 8px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius : 15px;
	max-height: 35px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: #202020;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: orange;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: grey;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: orange;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .column1{
	  width: 500px;
	  padding: 10px;
  }
  .column2{
	  width: 400px;
	  padding: 10px;
  }
/*End of Reservation Form*/  


/* Custom Radio Button */
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	/* margin-bottom: 0.5vh; */
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
	   top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }


  /* Default Hidden Available table details */
  .col2 {
	/* display: none; */
	/* position: fixed; */
  }